<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ $style := resources.Get "css/neon.css" }}
    {{ if $style }}
        {{ $style = $style | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ end }}
    {{ partial "head-meta.html" . }}
    {{ if .Params.math }}
        {{ partial "latex.html" . }}
    {{ end }}
</head>
<body class="dark-mode-auto">
    <div class="container">
        <aside class="sidebar">
            <header class="sidebar-header">
                <a href="{{ site.Home.RelPermalink }}">
                    <img src="{{ site.Params.logo | relURL }}" alt="Logo" class="logo">
                    <h1>{{ .Site.Title }}</h1>
                </a>
            </header>
            <nav class="menu">
                <ul>
                    {{ range .Site.Menus.main }}
                        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </aside>
        <main class="content">
            {{ block "main" . }}{{ end }}
        </main>
    </div>
</body>
</html>
