---
---

.project-icon {
  box-shadow: 0px 0px 1rem 4px whitesmoke;
  border-radius: 0.3rem;
  display: inline-block;
  opacity: 1;
  vertical-align: middle;
}

.project-tagline {
  display: inline-flex;
  font-weight: 600;
}

header .btn {
  color: rgba(white, 0.8);
  font-weight: bold;
  border-color: rgba(white, 0.6);
  background-image: linear-gradient(
    300deg,
    hsla(198deg, 45%, 45%, 0.6) 0%,
    hsla(186deg, 100%, 36%, 0.6) 20%,
    hsla(174deg, 100%, 37%, 0.6) 40%,
    hsla(151deg, 67%, 51%, 0.6) 60%,
    hsla(89deg, 75%, 61%, 0.6) 80%,
    hsla(55deg, 100%, 50%, 0.6) 100%
  ); // https://www.joshwcomeau.com/gradient-generator/
}

header .btn:hover {
  color: rgba(white, 1);
  box-shadow: 0px 0px 8px whitesmoke;
}

.ai-banner {
  display: flex;
  padding: 0.25em 0.6em;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: coral;
  color: white;
}

.label {
  display: inline-block;
  padding: 0.2em 0.5em;
  background: var(--accent-color);
  color: #fff;
  border-radius: 0.25rem;
  font-size: 0.85em;
  line-height: 1;
}
