---
---

@import "{{ site.theme }}";

.project-icon {
	box-shadow: 0px 0px 1rem 4px whitesmoke;
	border-radius: 0.3rem;
	display: inline-block;
	opacity: 1;
	vertical-align: middle;
}

.project-tagline {
	display: inline-flex;
	font-weight: 600;
}

header .btn {
	color: rgba(black, 0.8);
	border-color: rgba(white, 0.6);
	background-image: linear-gradient(
		300deg,
		hsla(198deg, 45%, 45%, 0.6) 0%,
		hsla(186deg, 100%, 36%, 0.6) 20%,
		hsla(174deg, 100%, 37%, 0.6) 40%,
		hsla(151deg, 67%, 51%, 0.6) 60%,
		hsla(89deg, 75%, 61%, 0.6) 80%,
		hsla(55deg, 100%, 50%, 0.6) 100%
	);// https://www.joshwcomeau.com/gradient-generator/
}

header .btn:hover{
	box-shadow: 0px 0px 8px whitesmoke;
}
