{{ define "main" }}
<div class="home-hero">
  <h1>{{ .Title }}</h1>
  <p>{{ .Description | default .Site.Params.description }}</p>
  <div class="download-section">
    <a
      href="https://github.com/kitswas/VirtualGamePad-Mobile/releases"
      class="download-button"
      >Download Client</a
    >
    <a
      href="https://github.com/kitswas/VirtualGamePad-PC/releases"
      class="download-button secondary"
      >Download Server</a
    >
  </div>
</div>
{{ if .Params.toc }}
<div class="toc toc-inline">
  <h2>{{ i18n "toc_title" }}</h2>
  {{ .TableOfContents }}
</div>
{{ end }}
<article class="page">
  <div class="page-content">{{ .Content }}</div>
</article>
{{ end }}
